.card{
    border: solid 1px grey;
    width: 275px;
    height: 200px;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(175, 153, 248);
  
}
#container{display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

}
#top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(105, 105, 221);
    border: 1px solid gray;
    border-radius: 10px;
padding: 5px;
margin-bottom: 10px;

}
h4{
    color: yellow;
}
#search{
    border-radius: 5px;
    
}