.card{
    border: solid 1px grey;
    width: 275px;
    height: 200px;
    border-radius: 10px;
    padding: 5px;
    background-color: black;
  color: white;
}
body {margin: 0px;
padding: 0px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
#container{display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

}
#top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:black;
    border: 1px solid gray;
    border-radius: 0px 0px 10px 10px;
padding: 5px;
margin-bottom: 10px;

}
h4{
    color: red;
}
#search{
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    padding: 10px;
}